*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: brown;
  color: white;
}

.main-wrapper{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  max-height: 90vh;
  overflow: auto;
}
